.detail-product-container {
    margin-top: 110px;
}

.product_detail{
    margin-top: 200px;
    margin-left: 200px;
    display: flex;
    font-size: 13px;
    line-height: 10px;
}
.product_detail  a{
    color: #78838c;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.product_detail a:hover {
    cursor: pointer;
    border-bottom: 1px solid black;
}

.detail_information{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.Button_detail{
    position: relative;
    height: 250px;
    width: 430px;
    border-radius: 10px;
    padding: 55px 35px;
    background-color: #fff;
    box-shadow: -1px 2px 7px 0px #888888;
}

.Button_detail .title{
    font-family: Oswald,sans-serif;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 600;
}
.chuthich {
    opacity: .7;
}

.Button_detail p {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 15px;
    margin-bottom: 8px;
}

.Button_detail button{
    position: absolute;
    bottom: 8px;
    left: 30px;
    right: 30px;
    height: 40px;
    box-shadow: -1px 2px 7px 0px #888888;
    border: 0;
    color: #fff;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    cursor: pointer;
    font-weight: 700;
    border-radius: 50px;
    font-size: 16px;
    background-color: #e4002b;
}

.Button_detail .Cover{
    display: flex;
    position: absolute;
    top: 0;
    width: 60px;
    height: 30px;
}


.Button_detail .Cover1{
    width: 15px;
    height: 30px;
    background-color: #e4002b;
}
.Button_detail .Cover2
{   margin-left: 10px;
    width: 15px;
    height: 30px;
    background-color: #e4002b;
}
.Button_detail .Cover3
{   margin-left: 10px;
    width: 15px;
    height: 30px;
    background-color: #e4002b;
}
